body {
    color: white;
    background: black;
    margin: 0px;
}

header{
    border-bottom: solid 3px red;
    padding: 20px;
    font-size: 32px;
    color: whitesmoke;

}
section{
    background: rgb(50,23,50);
}